body {
	background-color: white;
	font-family: comic sans;
}

div {
	border: 3px solid red;
	font-size: 20px;
	width: 50%;
	background-color:#eda21e;
	margin: 20px;
	padding: 10px;
	text-align: right;
	position: sticky;
	top: 10px;
}

h2 {
	background-color: green;
	font-size: 30px;
	color: black;
	text-align: left;
}

img {
	height: 200px;
	margin: 20px;
}

.neg {
	margin: -50px;
	font-size: 100px;
	width: 100%;
	padding: 5px;
}