* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: black;
}

.spacer {
    height: 7vh;
    background-color: black;
}

nav {
    height: 7vh;
    width: 100vw;

    position: fixed;
    top: 0;

    background-color: black;
    transition: 0.5s;
    overflow: hidden;

    font-weight: 500;
}

nav:hover {
    background-color: #1a1a1a;
    transition: 0.5s;
}

.nav {
    display: inline-block;    
}

#navlogo {
    height: 5vh;

    margin: 0;
    padding: 1vh;
    
    float: left;
}

#navtitle {
    margin: 2vh;
    float: left;

    font-size: 1.99vh;
    text-decoration: none;

    color: white;
}

.navbtn {
    margin: 1vh 1.5vw 0vh 1.5vw;
    padding: 0.75vh;
    float: left;

    font-size: 1.99vh;
    text-decoration: none;

    color: white;
    background-color: black;
    border: 0.25vh solid black;
    border-radius: 1vh;

    transition: 0.25s;
}

.navbtn:hover {
    border: 0.25vh solid white;

    transition: 0.5s;
}

.material-symbols-outlined {
    color: white;
    float: right;
    font-size: 4vh !important;
    margin: 1.5vh 3vh 1.5vh 1.5vh;
    visibility: hidden;
    overflow: hidden;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

header {
    height: 93vh;

    background: black;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/textlogo.png") no-repeat center/80vw;
}

h1 {
    padding-top: 44vh;
    text-align: center;

    font-size: 5vh;
    font-weight: 300;

    color: white;

}

a {
    text-decoration: none;
    color: white;
}

.first {
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.second {
    height: 93vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    overflow-x: hidden;
}

.story {
    height: 100%;
    width: 50%;
    background: #111;
    color: white;
    text-align: left;
    overflow: hidden;
}

.music {
    height: 100%;
    width: 50%;
    background: #222;
    color: white;
    text-align: left;
    overflow: hidden;
}

.firstimg {
    height: 100%;
    width: 50%;
    background: url("../img/story.jpeg") no-repeat center/100%;
    overflow-x: hidden;
}

.secimg {
    height: 100%;
    width: 50%;
    background: url("../img/music.jpeg") no-repeat center/100%;
    overflow-x: hidden;
}

h2 {
    font-size: 6vh;
    margin-top: 20vh;
    margin-bottom: 15vh;
    padding: 0 3vw 0 3vw;
}

p {
    font-size: 3vh;
    margin-bottom: 15vh;
    padding: 0 3vw 0 3vw;
}

.linkbtn {
    font-size: 3vh;
    padding: 1.5vh;
    margin: 0 3vw 0 3vw;
    border: 0.5vh solid black;
    border-radius: 1vh;
    color: white;
    background-color: black;
}

@media (max-width:948px) {
    
    h1 {
        padding-top: 44vh;
        text-align: center;
    
        font-size: 3vh;
    
        color: white;
    
    }
    
    .firstimg {
        height: 100%;
        width: 50%;
        background: url("../img/story.jpeg") no-repeat center/auto 100%;
    }
    
    .secimg {
        height: 100%;
        width: 50%;
        background: url("../img/music.jpeg") no-repeat center/auto 100%;
    }

}

@media (max-width:768px) {
    .navbtn {
        display: none;
    }

    .material-symbols-outlined {
        color: white;
        float: right;
        font-size: 4vh !important;
        margin: 1.5vh;
        visibility: visible;
    }
    
    header {
        height: 46.5vh;
        
        background: black;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/logo.png") no-repeat center/55vw;
    }
    
    h1 {
        padding-top: 22vh;
        text-align: center;
    
        color: white;
    
    }
    
    #headerbtn {
        margin: auto;
        margin-top: 25px;
        padding: 15px;
    
        
    }

    .story {
        height: 50%;
        width: 100%;
        background: #111;
        color: white;
        text-align: center;
        overflow: hidden;
    }
    
    .music {
        height: 50%;
        width: 100%;
        background: #222;
        color: white;
        text-align: center;
        overflow: hidden;
    }
    
    .firstimg {
        height: 50%;
        width: 100%;
        background: url("../img/story.jpeg") no-repeat center/100%;
    }
    
    .secimg {
        height: 50%;
        width: 100%;
        background: url("../img/music.jpeg") no-repeat center/100%;
    }

    h2 {
        font-size: 4vh;
        margin-top: 7vh;
        margin-bottom: 5vh;
    }
    
    p {
        font-size: 2vh;
        margin-bottom: 5vh;
        padding: 0 5vw 0 5vw;
    }
}

@media (max-width:420px) {

    header {
        height: 46.5vh;
        
        background: black;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/logo.png") no-repeat center/80vw;
    }

    h2 {
        font-size: 8vw;
        margin-top: 7vh;
        margin-bottom: 5vh;
    }
    
    p {
        font-size: 5vw;
        margin-bottom: 5vh;
        padding: 0 5vw 0 5vw;
    }
}