* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: black;
}

nav {
    height: 7vh;
    width: 100vw;

    position: sticky;
    top: 0;

    background-color: black;
    transition: 0.5s;

    font-weight: 500;
}

nav:hover {
    background-color: #1a1a1a;
    transition: 0.5s;
}

.nav {
    display: inline-block;    
}

#navlogo {
    height: 5vh;

    margin: 0;
    padding: 1vh;
    
    float: left;
}

#navtitle {
    margin: 2.5vh;
    float: left;

    font-size: 2vh;
    text-decoration: none;

    color: white;
}

.navbtn {
    margin: 1.5vh 1.5vw 1.5vh 1.5vw;
    padding: 0.75vh;
    float: left;

    font-size: 2vh;
    text-decoration: none;

    color: white;
    background-color: black;
    border: 0.25vh solid black;
    border-radius: 1.5vh;

    transition: 0.25s;
}

.navbtn:hover {
    border: 0.25vh solid white;

    transition: 0.5s;
}

.material-symbols-outlined {
    color: white;
    float: right;
    font-size: 4vh !important;
    margin: 1.5vh;
    visibility: hidden;
}

.dropdown {
    display: none;
}

header {
    height: 93vh;

    background: black;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/textlogo.png") no-repeat center/80vw;
}

h1 {
    padding-top: 44vh;
    text-align: center;

    font-size: 5vh;
    font-weight: 300;

    color: white;

}

#headerbtn {
    margin: auto;
    margin-top: 25px;
    padding: 15px;

    
}

.story {
    height: 93vh;
    background: black;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/storyphoto.png") no-repeat center/80vw;
    color: white;
    text-align: center;
}

.music {
    height: 93vh;
    background: black;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/musicphoto.png") no-repeat center/80vw;
    color: white;
    text-align: center;
}

h2 {
    font-size: 6vh;
    margin-top: 20vh;
    margin-bottom: 18.5vh;
}

p {
    font-size: 3vh;
    margin-bottom: 18.5vh;
}

.linkbtn {
    font-size: 3vh;
    padding: 1.5vh;
    margin-bottom: 20vh;
    border: 0.5vh solid black;
}

@media (max-width:948px) {
    
    h1 {
        padding-top: 44vh;
        text-align: center;
    
        font-size: 3vh;
    
        color: white;
    
    }

}

@media (max-width:768px) {
    .navbtn {
        display: none;
    }

    .material-symbols-outlined {
        color: white;
        float: right;
        font-size: 4vh !important;
        margin: 1.5vh;
        visibility: visible;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown a {
        text-decoration: none;
        color: white;
        flex-direction: column;
    }
      
    .menu:hover .dropdown {   
        display: flex;
    }
      
    .menu:active .dropdown {   
        display: flex;
    }

    header {
        height: 46.5vh;
        
        background: black;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/logo.png") no-repeat center/55vw;
    }
    
    h1 {
        padding-top: 22vh;
        text-align: center;
    
        color: white;
    
    }
    
    #headerbtn {
        margin: auto;
        margin-top: 25px;
        padding: 15px;
    
        
    }
}

@media (max-width:420px) {

    header {
        height: 46.5vh;
        
        background: black;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/logo.png") no-repeat center/80vw;
    }
}