/* Color Palette */

.white {
    color: #F5F5F7;
}

.black {
    color: #1D1D1F;
}

.blue {
    color: #24348f;
}

.d-red {
    color: #AC3931;
}

.l-red {
    color: #EE6352;
}

.bg-white {
    background-color: #F5F5F7;
}

.bg-black {
    background-color: #1D1D1F;
}

.bg-blue {
    background-color: #24348f;
}

.bg-d-red {
    background-color: #AC3931;
}

.bg-l-red {
    background-color: #EE6352;
}

/* CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 50px;
    width: 100vw;
    position: fixed;
}

.header {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.in-header {
    height: 100%;
    width: 40%;
    margin: auto;
}

.footer {
    height: 300px;
    width: 100vw;
}

.img {
    width: 100%;
    margin: auto;
    padding-top: 50%;
}

.h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 72px;
    line-height: 1.15;
    font-weight:bolder;
    text-decoration: none;
}

.h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 1.15;
    font-weight:bold;
    text-decoration: none;
}

.h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 1.15;
    font-weight:bold;
    text-decoration: none;
}

.p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.15;
    font-weight: normal;
    text-decoration: none;
}